## Dataset Exploration:
1. Importing the dataset

In [4]:
# IMPORTS:
import os
import pandas as pd
import numpy as np

In [8]:
raw_dataset = pd.read_excel("../data/DBF.xlsx")
raw_dataset.head()

,loan_amnt,term,int_rate,grade,emp_length,home_ownership,annual_inc,loan_status,purpose,dti,T
0,12800,36,0.1199,C,6,MORTGAGE,53000.0,1,credit_card,0.2099,1095
1,5625,36,0.1825,D,10,MORTGAGE,53328.0,1,home_improvement,0.1051,1095
2,12025,36,0.1446,C,2,MORTGAGE,32000.0,1,debt_consolidation,0.1988,1095
3,9000,36,0.1531,C,9,RENT,52000.0,1,debt_consolidation,0.1886,1095
4,8000,36,0.1075,B,5,RENT,73000.0,1,debt_consolidation,0.1085,1095

### **Columns Overview**
1. loan_amnt [Xi]: Loan amount requested by the borrower.
2. term: The term of the loan in months (36 or 60).
3. int_rate: Interest rate on the loan.
4. grade: Grade assigned to the loan (A, B, C, D, etc.), typically based on creditworthiness.
5. emp_length: Number of years the borrower has been employed.
6. home_ownership: Home ownership status (e.g., MORTGAGE, RENT, OWN).
7. annual_inc: Annual income of the borrower.
8. loan_status: Loan status (1 indicates current loans in this sample).
9. purpose: Purpose of the loan (e.g., credit_card, home_improvement, debt_consolidation).
10. dti: Debt-to-income ratio.
11. T: Loan term in days (possibly derived from the 'term' column).

In [9]:
raw_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 527428 entries, 0 to 527427
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   loan_amnt       527428 non-null  int64
 1   term            527428 non-null  int64
 2   int_rate        527428 non-null  float64
 3   grade           527428 non-null  object
 4   emp_length      527428 non-null  int64
 5   home_ownership  527428 non-null  object
 6   annual_inc      527428 non-null  float64
 7   loan_status     527428 non-null  int64
 8   purpose         527428 non-null  object
 9   dti             527428 non-null  float64
 10  T               527428 non-null  int64
dtypes: float64(3), int64(5), object(3)
memory usage: 44.3+ MB

In [13]:
raw_dataset.describe(exclude='object').transpose()

,count,mean,std,min,25%,50%,75%,max
loan_amnt,527428.0,14798.364327,9334.435778,1000.0000,7500.0000,12000.0000,20000.0000,4.000000e+04
term,527428.0,41.641202,10.176733,36.0000,36.0000,36.0000,36.0000,6.000000e+01
int_rate,527428.0,0.134604,0.053293,0.0531,0.0975,0.1274,0.1602,3.099000e-01
emp_length,527428.0,6.009531,3.606430,1.0000,2.0000,6.0000,10.0000,1.000000e+01
annual_inc,527428.0,81105.460820,79271.565072,32.0000,50000.0000,69000.0000,96000.0000,1.099920e+07
loan_status,527428.0,0.744828,0.435958,0.0000,0.0000,1.0000,1.0000,1.000000e+00
dti,527428.0,0.185749,0.117212,-0.0100,0.1179,0.1775,0.2445,9.990000e+00
T,527428.0,1267.225739,309.797846,1095.0000,1095.0000,1096.0000,1096.0000,1.827000e+03

In [12]:
raw_dataset.describe(include='object').transpose()

                 count unique                 top    freq
grade           527428      7                   C  160021
home_ownership  527428      5            MORTGAGE  259852
purpose         527428     13  debt_consolidation  298735

In [14]:
numerical_features = raw_dataset.select_dtypes(include=['int64', 'float64'])
categorical_features = raw_dataset.select_dtypes(include=['object'])

In [22]:
categorical_features.value_counts()

grade  home_ownership  purpose
C      MORTGAGE        debt_consolidation    45099
B      MORTGAGE        debt_consolidation    41270
C      RENT            debt_consolidation    39579
B      RENT            debt_consolidation    33105
A      MORTGAGE        debt_consolidation    25040
                                             ...
B      ANY             vacation                  1
       NONE            home_improvement          1
C      MORTGAGE        wedding                   1
       ANY             house                     1
G      MORTGAGE        renewable_energy          1
Name: count, Length: 299, dtype: int64